
.pict {background:url(first-page.png) no-repeat;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	
	
  
}



.image1{
	height:23%;
	width:100%;
	background:url(language.png) no-repeat;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	
}

.image2{
	height:68%;
	width:100%;
	background:url(wesharp.png) no-repeat;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	
}

.join{
	height:9%;
	width:100%;
	background:transparent;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size: 100% 100%;
		background-size: 100% 100%;
		overflow-y: hidden;
		overflow-x: hidden;
	
	
	
	position:relative;

	
}
a{
	color:rgb(255,255,255);
	text-decoration:none;
	font-family:"Microsoft Yahei";
	font-size:3rem;/*85px*/
	float:right;
	margin-top:-1rem;
}
 @keyframes flash {
             from, 50%, to {
        opacity: 1;
        }

             25%, 75% {
        opacity: 0;
        }
    }

        .flash {
        animation-name: flash;
    }
    /* Safari & Chrome: */
    @-webkit-keyframes flash {
             from, 50%, to {
        opacity: 1;
        }

             25%, 75% {
        opacity: 0;
        }
    }

         .flash {
        animation-name: flash;
    }
    /* Firefox: */
    @-moz-keyframes flash {
             from, 50%, to {
        opacity: 1;
        }

             25%, 75% {
        opacity: 0;
        }
    }

         .flash {
        animation-name: flash;
    }
    /* Opera: */
    @-o-keyframes flash {
             from, 50%, to {
        opacity: 1;
        }

             25%, 75% {
        opacity: 0;
        }
    }

         .flash {
        animation-name: flash;  
    }

		
		.join{
			animation: flash 5s linear 1s infinite;
            /* Safari & Chrome: */
            -webkit-animation: flash 5s linear 1s infinite;
            /* Firefox: */
            -moz-animation: flash 5s linear 1s infinite;
            /* Opera: */
            -o-animation: flash 5s linear 1s infinite;
		}


@keyframes pict {
  from {
    margin-top:100%;
    height:300%
  }
  
  to {
    margin-top:0%;
    height:100%;
  }
}
 }

        .slideInLeft {
        animation-name: slideInLeft; 
    }
    /* Safari & Chrome: */
    @-webkit-keyframes slideInLeft {
            from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        }
 to {
        transform: translate3d(0, 0, 0);
        }
    }

        .slideInLeft {
        animation-name: slideInLeft; 
    }
    /* Firefox: */
    @-moz-keyframes slideInLeft {
            from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        }

            to {
transform: translate3d(0, 0, 0);
        }
    }

        .slideInLeft {
        animation-name: slideInLeft; 
    }
    /* Opera: */
    @-o-keyframes slideInLeft {
            from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        }

            to {
        transform: translate3d(0, 0, 0);
        }
    }
   .slideInLeft {
        animation-name: slideInLeft; 
    }
    .image1,.image2{
			animation: slideInLeft 1.5s linear 0s 1;
            /* Safari & Chrome: */
            -webkit-animation: slideInLeft 1.5s linear 0s 1;
            /* Firefox: */
            -moz-animation: slideInLeft 1.5s linear 0s 1;
            /* Opera: */
            -o-animation: slideInLeft 1.5s linear 0.1s 1;
		}





#button{
	font-family:Georgia; 
	color:white;
	background-color:transparent;
	border:none;
	margin-left:29rem;
	
	font-size:60px;
	
	 animation-duration: 1.5s;
  animation-name: button;
  animation-iteration-count: 1;
  animation-direction: alternate;
	
}
@keyframes button {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}
#button:hover{ font-size:300%;}
