.form{
	width:100%;
	border:"0";
	margin:0 auto;
	
	font-size:0.9rem;
	background-color:rgb(241,241,241);
	box-shadow:0 3px 30px rgb(0,0,0,.2);
	border-radius:10px;
	
	input{
		font-family: "Microsoft Yahei";
		outline: none;
		border:none;
		border-radius:10px;
		
	}
	input[type=text],input[type=phone]{
		
		height:4rem;
		line-height:4rem;
		padding-left:1rem;
		border-radius:8px;
		
		
	}
}


.tip{
	font-family: "Microsoft Yahei";
}
.box{
	border:none;
	padding-left:1rem;
	height:1.8rem;
	line-height:1.8rem;
}
.text{
	border:none;
	padding-left:1rem;
	height:4rem;
	
}

#smit{
	font-family: "Microsoft Yahei";
	background-color:rgb(255,255,255);
border:none;
margin-left:2rem;
height:1.55rem;
	line-height:1.55rem;	
}
#smit:hover{background-color:#FFF5EE}